<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Portalv9.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DigiPro.IDIntranet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DigiPro.IDIntranet.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--    <appSettings/> -->
  <appSettings>
    <add key="FirstDayOfWeek" value="1" />
    <add key="rutaRpt" value="reportes" />
    <add key="ProyectoId" value="1" />
    <add key="VersionAplicacionID" value="1" />
    <add key="RutaArchivo" value="envio" />
    <add key="MonitorEstado_Pendiente" value="10" />
    <add key="MonitorEstado_CapturadasOK" value="1" />
    <add key="TiempoConsulta" value="120" />
    <add key="CatalogoCalidad19" value="1" />
    <add key="CatalogoCalidad147" value="1" />
    <add key="CatalogoCalidad102" value="1" />
    <add key="CatalogoCalidad123" value="1" />
    <add key="CatalogoCalidad153" value="1" />
    <add key="CatalogoCalidad152" value="1" />
    <add key="CatalogoCalidad151" value="1" />
    <add key="WsImagenesUrl" value="http://localhost/WSImagenesv8/WsImagenes.asmx" />
    <add key="WsConsultasUrl" value="http://localhost/WSConsultasv8/ConsultasWeb.asmx" />
    <add key="SvrUsr" value="http://localhost/SvrUsrV8/SvrUsrMain.asmx" />
    <add key="AWSSTR" value="http://localhost/WSImagenesv8/WsImagenes.asmx" />
    <!--WebScan-->
    <add key="RemoteStorage" value="1" />
    <add key="RemoteStorage_Act" value="1" />
    <add key="RemoteStorage_Remp" value="1" />
    <add key="StatusReemplazo" value="3" />
    <add key="sp_BuscaFechaVencimiento" value="Web_ASI_sp_BuscaFechaVencimiento" />
    <add key="sp_DevuelveCatSucursales" value="Web_DevuelveCatSucursales" />
    <add key="sp_GetTiposDoc" value="Web_ASI_sp_GetTiposDoc" />
    <add key="sp_BuscaMayoresaXmese" value="Web_ASI_sp_BuscaMayoresaXmese" />
    <add key="Web_Rep_Solicitudes" value="Web_Rep_Solicitudes" />
    <add key="Web_DevuelveCatSucursales" value="Web_DevuelveCatSucursales" />
    <add key="Web_ASI_sp_BuscaXfechas" value="Web_ASI_sp_BuscaXfechas" />
    <add key="web_ASI_sp_ReporteExpedienteXSucursal" value="web_ASI_sp_ReporteExpedienteXSucursal" />
    <add key="WEB_Listadodelotes" value="WEB_Listadodelotes" />
    <add key="web_ASI_sp_ReporteTarjetasFirmasXSucursal" value="web_ASI_sp_ReporteTarjetasFirmasXSucursal" />
    <!--<add key="WEB_AFI_Rep_BuscaSuc" value="WEB_AFI_Rep_BuscaSuc"/>-->
    <add key="WEB_AFI_Rep_BuscaDoc_Reproc_xSuc" value="WEB_AFI_Rep_BuscaDoc_Reproc_xSuc" />
    <add key="WEB_AFI_Rep_BuscaDoc_RechazadosxSuc" value="WEB_AFI_Rep_BuscaDoc_RechazadosxSuc" />
    <add key="WEB_AFI_Rep_BuscaSucTotal" value="WEB_AFI_Rep_BuscaSucTotal" />
    <add key="WEB_AFI_Rep_BuscaSucXExp" value="WEB_AFI_Rep_BuscaSucXExp" />
    <add key="WEB_AFI_OBTENPADRE" value="web_afi_obtenpadre" />
    <add key="WEB_AFI_OBTENHIJOS" value="web_afi_ObtenHijos" />
    <!-- PLNO: Nuevos SP para transitar de forma manual los expedientes validados por mesa de control-->
    <add key="WSI_EstadoLotesSinRecorte" value="WSI_EstadoLotesSinRecorte" />
    <add key="WSI_ReprocesaLote" value="WSI_ReprocesaLote" />
    <add key="EdoRecorte231" value="1860" />
    <add key="EdoRecorte232" value="1860" />
    <!-- PLNO:  SP ABC Catálogos Rechazos y Sucursales-->
    <add key="WebGetTipoABCatalogo" value="WebGetTipoABCatalogo" />
    <add key="WebGetCatalogoABC" value="WebGetCatalogoABC" />
    <add key="WebDeleteABCatalogo" value="WebDeleteABCatalogo" />
    <add key="WebUpdateABCatalogo" value="WebUpdateABCatalogo" />
    <add key="WebInsertABCatalogo" value="WebInsertABCatalogo" />
    <!--Settings del configurador-->
    <add key="ScriptBDCliente" value="ScriptCliente.sql" />
    <add key="BD_Size" value="10MB" />
    <add key="BD_Maxsize" value="UNLIMITED" />
    <add key="BD_Filegrowth" value="10MB" />
    <add key="LOG_Size" value="5MB" />
    <add key="LOG_Maxsize" value="UNLIMITED" />
    <add key="LOG_Filegrowth" value="10%" />
    <add key="DataBaseEngine" value="MSSQL" />
    <!-- Valores posibles son actualmente ORACLE y MSSQL -->
    <!-- Settings especiales del configurador de Oracle -->
    <add key="ScriptCrearEsquema" value="ScriptsOracle\Schema\CreateSchema.sql" />
    <!-- Licencia del generador de PDFs... -->
    <add key="ceTe.DeveloperLicenseKey" value="GEN50NPDEINBBNIFH/L/ctj+jztPX+uwEFJtH937k4Q4OWXW2bG1W4SGFpzDEjE4Xi0CvAnTCWMe/Yg5OUVNS6UAyVYBiFSuH0uw" />
    <!--Configuración de Autentificación-->
    <add key="Autentificacion" value="DP" />
    <add key="Dominios" value="digilab" />
    <add key="Cuenta_Email" value="iesi@prodigy.net.mx" />
    <add key="SMTP" value="smtp.prodigy.net.mx" />
    <!--Configuración de Archivo-->
    <add key="Archivo" value="16" />
  </appSettings>
  <connectionStrings>
    <!--<add name="BDHcs" connectionString="data source=SISTEMAS_JHS\SNTRIBUNAL01;Initial Catalog=BDHPortalv9;User Id=sa;Password=Passw0rd;" providerName="System.Data.SqlClient" />
    <add name="Archivo_DatosConnectionString" connectionString="Data Source=SISTEMAS_JHS\SNTRIBUNAL01;Initial Catalog=Archivo_Datos;User Id=sa;Password=Passw0rd;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDHcs" connectionString="data source=(local)\SQLEXPRESS2008R2;Initial Catalog=BDHPortalv9;User Id=digipro;Password=digipro;" providerName="System.Data.SqlClient" />
    <add name="Archivo_DatosConnectionString" connectionString="Data Source=(local)\SQLEXPRESS2008R2;Initial Catalog=Archivo_Datos;User Id=digipro;Password=digipro;" providerName="System.Data.SqlClient" />-->
    <add name="BDHcs" connectionString="data source=ALFREDO-PC;Initial Catalog=BDHPortalv9;User Id=digipro;Password=digipro;" providerName="System.Data.SqlClient" />
    <add name="Archivo_DatosConnectionString" connectionString="Data Source=ALFREDO-PC;Initial Catalog=Archivo_Datos;User Id=digipro;Password=digipro;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.XtraPrinting.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v10.1.Web, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v10.1.Core, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v10.1.Export, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.1.Export, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v10.1.Export, Version=10.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v10.1.Export, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <pages theme="Office2003Olive">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" />
    <httpHandlers>
      <add verb="GET" path="cachedimageservice.axd" type="Digipro.Visor.CachedImageService,DynamicImage" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" />
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <identity impersonate="true" />
    <httpRuntime maxRequestLength="40096" executionTimeout="1110" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
    <security>
      <authentication>
        <basicAuthentication enabled="false" />
        <!--<windowsAuthentication enabled="true"/>-->
      </authentication>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Portalv9.My.MySettings>
      <setting name="Portalv9_SAEX_ServiciosSAEX" serializeAs="String">
        <value>http://localhost/SAEXv9/SAEX.asmx</value>
      </setting>
      <setting name="Portalv9_WSArchivo_Service1" serializeAs="String">
        <value>http://localhost/WSArchivo/Archivo.asmx</value>
      </setting>
      <setting name="Portalv9_WsConsultas_ConsultasWeb" serializeAs="String">
        <value>http://localhost/WSConsultasv8/ConsultasWeb.asmx</value>
      </setting>
      <setting name="Portalv9_WsImg_WsImagenes" serializeAs="String">
        <value>http://localhost/WSImagenesv8/WsImagenes.asmx</value>
      </setting>
      <setting name="Portalv9_SvrUsr_Core" serializeAs="String">
        <value>http://localhost/SvrUsrV8/SvrUsrMain.asmx</value>
      </setting>
    </Portalv9.My.MySettings>
  </applicationSettings>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>