		div.DPMenuFondo
        {
        	width:100%;
        	height:12%;
        	background-color:#006742;             
        }
        
        .DPMenuLogo
        {
            width:12%;
        }
        
        .DPMenuBarraBotones
        {
        	/*background-color:#094b88;
        	background-image:url(Images/bg-nav.png);
        	width:77%;
        	height:38px;
        	vertical-align:bottom;
        	align:right;*/
        	background-color:#006742;
        	background-image:url(../images/barra2.jpg);
        	width:77%;
            background-repeat:repeat-x;
        	vertical-align:bottom;
        }
        
        .DPMenuHeader
        {
            margin-right:7px;
            background-color:#006742;
            height:12px;
            width:100px;
            cursor:default;
            background-repeat:repeat-x;
            vertical-align:middle;
        }
        
        .DPMenuHeaderText
        {
        	font-size:9pt;
        	font-weight:bold;
            color:#FFFFFF;
            font-family:Verdana;
        }
        
        div.DPMenuSubMenu
        {
        	position:absolute;
        	top:100px;
        	left:100px;
        	display:none;
        	z-index:100;
        }
        
        .DPSubMenuButton
        {
        	background-color:#333333;
        	background-image:url(../Images/fondoItem.JPG);
        	height:5px;
            width:auto;
            cursor:pointer;
            background-repeat:repeat-x;
            vertical-align:middle;
        }
        
        .DPSubMenuButtonText
        {
        	vertical-align:middle;
        	font-size:10pt;
            color:#FFFFFF;
            font-family:arial,verdana;
        }
        
        .DPSubMenuHeaderButton
        {
        	background-color:#006742;
        	height:5px;
            width:auto;
            cursor:default;
            background-repeat:repeat-x;
            vertical-align:middle;
        }
        
        .DPSubMenuHeaderButtonText
        {
        	vertical-align:middle;
        	font-weight:bold;
        	font-size:8pt;
            color:#FF9900;
            font-family:arial,verdana;
        }
        
 
        .DataList_Aqua
        {
            background-color:#E2F0FF;
            background-image:url(../Images/DataListHeader2.gif);
            background-position:center top;
            background-repeat:repeat-x;
            border-bottom: solid 1px #AECAF0
        }

        .DataList_Aqua_Sel
        {
            /*background-color:#E2F0FF; */
            background-image:url(../Images/DataListHeaderSel.gif);
            color:#FFFFFF;
            /*background-position:center top;
            background-repeat:repeat-x;
            border-bottom: solid 1px #AECAF0*/
        }
        
        